@use "../../styles/variables";

.search {
  padding: 40px 0;

  &__title {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 700;
    color: variables.$text-dark;
    margin-bottom: 40px;
  }

  &__category {
    padding: 30px 20px;
    margin-bottom: 40px;
    box-shadow: 0 2px 8px variables.$text-dark;
    border: 1px solid variables.$text-dark;
    border-radius: 10px;

    h2 {
      text-align: center;
      color: variables.$text-dark;
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 30px;
    }

    &--batiment {
      background-color: color-mix(
        in srgb,
        variables.$blue-dark 40%,
        white
      );
      border: 1px solid variables.$text-dark;
    }

    &--services {
      background-color: color-mix(
        in srgb,
        variables.$blue-primary 40%,
        white
      );
      border: 1px solid variables.$text-dark;
    }

    &--fabrication {
      background-color: color-mix(
        in srgb,
        variables.$red 40%,
        white
      );
      border: 1px solid variables.$text-dark;
    }

    &--alimentation {
      background-color: color-mix(
        in srgb,
        variables.$green 40%,
        white
      );
      border: 1px solid variables.$text-dark;
    }

    @media (max-width: 991.98px) {
      .col-12 {
        margin-bottom: 25px;
      }

      .col-12:last-child {
        margin-bottom: 0;
      }
    }
  }

  @media (min-width: 768px) {
    padding: 60px 0;

    &__title {
      font-size: 2rem;
      margin-bottom: 60px;
    }

    &__category {
      padding: 40px;
      margin-bottom: 60px;

      h2 {
        font-size: 1.7rem;
        margin-bottom: 35px;
      }
    }
  }
}